test.R
README.Rmd
README.html
docs
*.gcno
TAGS
inst/doc
inst/misc/workshop*.org
inst/misc/mena.org
vignettes/*.html
vignettes/*.css
vignettes/*.html
vignettes/*.tex
vignettes/*.pdf
vignettes/*.R
vignettes/*.Rout
vignettes/*.org
vignettes/auto
*.o
*.so
*~
test
*.RData
*.Rhistory
*.Rcheck
*.tar.gz
*.zip
*.tgz
*.obsolete
x.log
nohup.out
tmp
valgrind*
test
*.tmp
*.bbl
*.blg
*.bak
*.snm
*.aux
*.log
*~
*.out
*.swp
*.nav
*.toc
*.vrb
*.dvi
_region*
symbols.rds
doc
Meta
