.*cache
.DS_Store
*_cache
test.R
README.Rmd
README.html
docs
*.gcno
TAGS
man/survival.twostageCC.Rd
R/old-bicomprisksim.R
src/minimake
inst/doc
inst/misc/workshop*.org
inst/misc/mena.org
vignettes/templates
vignettes/test?.Rmd
vignettes/*_files
vignettes/*.html
vignettes/pdfP
vignettes/*.bib
vignettes/*.css
vignettes/*.html
vignettes/*.tex
vignettes/*.pdf
vignettes/*.R
vignettes/*.r
vignettes/*.Rout
vignettes/*.org
vignettes/auto
vignettes/runRmd
vignettes/makePDF
*.o
*.so
*~
test
*.RData
*.Rhistory
*.Rcheck
*.tar.gz
*.zip
*.tgz
*.obsolete
x.log
nohup.out
tmp
valgrind*
test
*.tmp
*.bbl
*.blg
*.bak
*.snm
*.aux
*.log
*~
*.out
*.swp
*.nav
*.toc
*.vrb
*.dvi
_region*
symbols.rds
doc
Meta
/doc/
/Meta/
